.WULogin {
  &__container {
    max-width: 30vw;
    margin: 15vh auto;
    padding: 1.5rem 3rem 3rem;
    background: white;
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 4px;
  }
  &__form {
    .usa-form-group {
      text-align: left;
      .usa-input {
        display: inline-block;
      }
    }
    &-actions {
      padding-top: 2rem;
      .usa-button {
        margin-right: 0;
      }
    }
  }
  &__oauth {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid lightgrey;
  }
}
