@import "../../styles/windows.scss";

.wuds-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 0;
  max-width: none;
  height: 0;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 1;
  z-index: 999999;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  background-color: transparent;

  &.fade-in-background {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.1s;
  }

  &.open {
    width: 100vw;
    height: 100vh;
    display: flex;
  }

  .backdrop {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  .modal-dialog {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    z-index: 2;
    background-color: #ffffff;
    position: relative;
    width: 95%;
    margin: 10px auto;

    @media screen and (min-width: 600px) {
      width: auto;
      max-width: 800px;
    }

    .close-btn {
      width: 20px;
      height: 20px;
      fill: #ffffff;
      cursor: pointer;
    }

    header.modal_header {
      background-color: $title-bar-bgcolor-red;
      color: $title-bar-fgcolor-bright;
      padding: 0.5rem;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      h2 {
        margin: 2px;
      }
    }

    section.modal_body {
      display: flex;
      padding: 1rem;
      overflow: auto;
      flex-direction: column;
      align-items: stretch;
    }

    footer.modal_footer {
      padding: 0.25rem 0.5rem 0.75rem 0.5rem;
    }
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
fade-leave-to {
  opacity: 0;
}
