name: Node.js Package

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
      - run: npm ci
      # add tests

  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          registry-url: https://registry.npmjs.org/
      - run: git fetch --all --tags
      - name: Check Release Version
        uses: thebongy/version-check@v1
        with:
          file: package.json
          tagFormat: ${version}
        id: package_version
      - name: Post Version Information
        run: |
          echo "//----------- New Release Version ------------//"
          echo "version: ${{steps.package_version.outputs.releaseVersion}}"
          echo "changed: ${{steps.package_version.outputs.versionChanged}}"
          echo "raw: ${{steps.package_version.outputs.rawVersion}}"
          echo "type: ${{steps.package_version.outputs.releaseTags}}"
          echo "//-------------------------------------------//"
      - name: Create a GitHub release
        uses: ncipollo/release-action@v1
        if: steps.package_version.outputs.versionChanged == 'true'
        with:
          tag: ${{ steps.package_version.outputs.releaseVersion }}
          name: Release v${{ steps.tag_version.outputs.releaseVersion }}
          body: ""
      - name: Publish to NPM Registry
        if: steps.package_version.outputs.versionChanged == 'true'
        run: |
          echo "New Tag v${{steps.package_version.outputs.releaseVersion}}"
          npm ci
          npm run build
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
  # publish-gpr:
  #   needs: build
  #   runs-on: ubuntu-latest
  #   permissions:
  #     contents: read
  #     packages: write
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: actions/setup-node@v2
  #       with:
  #         node-version: 14
  #         registry-url: https://npm.pkg.github.com/
  #     - run: npm ci
  #     - run: npm publish
  #       env:
  #         NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
